.stats-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
 }

.child-container {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.year-container {
  margin-right: 1.5em;
}

.month-container {
  margin-bottom: 1em;
}

.recap {
  text-align: center;
}

span.recap {
  display: block;
}
