ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  margin-right: 1em;
  margin-bottom: 0.6em;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left-menu {
  margin-left: auto;
}

.right-menu {
  margin-right: auto;
}
