<div *ngIf="stats != null">
  <table>
    <ng-container *ngIf="mode === 'global'">
      <tr>
        <td>{{stats.alwaysTotal.caption}}</td>
        <td>{{stats.alwaysTotal.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.alwaysPersonnalTotal.caption}}</td>
        <td>{{stats.alwaysPersonnalTotal.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.alwaysTotalInput.caption}}</td>
        <td>{{stats.alwaysTotalInput.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.alwaysTotalOutput.caption}}</td>
        <td>{{stats.alwaysTotalOutput.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.alwaysWaitingRefundOutput.caption}}</td>
        <td>{{stats.alwaysWaitingRefundOutput.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.alwaysWaitingRefundCount.caption}}</td>
        <td>{{stats.alwaysWaitingRefundCount.amount}}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="mode === 'month'">
      <tr>
        <td>{{stats.monthTotal.caption}}</td>
        <td>{{stats.monthTotal.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.monthPersonnalTotal.caption}}</td>
        <td>{{stats.monthPersonnalTotal.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.monthInput.caption}}</td>
        <td>{{stats.monthInput.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.monthOutput.caption}}</td>
        <td>{{stats.monthOutput.amount}} €</td>
      </tr>
      <ng-container *ngIf="stats.monthWaitingRefundCount.amount !== '0'">
        <tr>
          <td>{{stats.monthWaitingRefundOutput.caption}}</td>
          <td>{{stats.monthWaitingRefundOutput.amount}} €</td>
        </tr>
        <tr>
          <td>{{stats.monthWaitingRefundCount.caption}}</td>
          <td>{{stats.monthWaitingRefundCount.amount}}</td>
        </tr>
      </ng-container>
      <tr>
        <td>{{stats.monthTotalSinceAlways.caption}}</td>
        <td>{{stats.monthTotalSinceAlways.amount}} €</td>
      </tr>
      <tr>
        <td>{{stats.monthTotalSinceCurrentYear.caption}}</td>
        <td>{{stats.monthTotalSinceCurrentYear.amount}} €</td>
      </tr>
    </ng-container>
  </table>
</div>
