<div class="login-container">
  <div>
    <h1>Connexion</h1>
  </div>

  <div class="form-step">
    <label for="login">Login</label>
    <input id="login" type="text" name="login" [(ngModel)]="user.login" />
  </div>
  <div class="form-step">
    <label for="password">Mot de passe</label>
    <input id="password" type="password" [(ngModel)]="user.password" />
  </div>

  <div class="form-step">
    <button (click)="doLogin()">Connexion</button>
    <button (click)="doRegister()">S'inscrire</button>
  </div>

</div>
