<div class="container">
  <ng-container *ngIf="authService.isUserLogged(); then logout else login"></ng-container>
</div>

<ng-template #login>
  <div>
    <h1>Connexion</h1>
  </div>

  <div class="form-step">
    <label for="login">Login</label>
    <input id="login" type="email" name="email" [(ngModel)]="user.login" />
  </div>
  <div class="form-step">
    <label for="password">Mot de passe</label>
    <input id="password" type="password" name="password" [(ngModel)]="user.password" />
  </div>

  <div class="form-step">
    <button (click)="doLogin()">Connexion</button>
    <button (click)="doRegister()">S'inscrire</button>
  </div>

</ng-template>

<ng-template #logout>
  <div>
    <h1>Déconnexion</h1>
  </div>

  <div class="form-step">
    <button (click)="doLogout()">Se déconnecter</button>
  </div>

</ng-template>
