.form-container {
  margin-bottom: 2em;

  .form-element {
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    .form-element-title {
      margin-right: 0.6em;
    }
  }
}

.none {
  display: none;
}

