<div class="form-container">

  <div *ngIf="showDelete" class="form-element">
    <button
        (click)="deleteOperation()"
    >Supprimer</button>
  </div>

  <div class="form-element">
    <div class="form-element-title">
      <label [for]="'date_' + id">Date</label>
    </div>
    <div class="form-element-content">
      <input
          type="date"
          [id]="'date_' + id"
          [ngModel]="operation.date | date:'yyyy-MM-dd'"
          (ngModelChange)="updateParameter(operation, 'date', $event)"
      >
    </div>
  </div>

  <div class="form-element">
    <div class="form-element-title">
      <label>Signe</label>
    </div>
    <div class="form-element-content">
      <input
          type="radio" value="1"
          [name]="'signe_' + id"
          [id]="'entree_' + id"
          (change)="updateParameter(operation, 'montant', getNewMontantFromSigne(operation, 1))"
          [checked]="operation.montant >= 0"
          [disabled]="operation.montant == null"
      >
      <label [for]="'entree_' + id">Entrée</label>
      <input
          type="radio" value="-1"
          [name]="'signe_' + id"
          [id]="'sortie_' + id"
          (change)="updateParameter(operation, 'montant', getNewMontantFromSigne(operation, -1))"
          [checked]="operation.montant < 0"
          [disabled]="operation.montant == null"
      >
      <label [for]="'sortie_' + id">Sortie</label>
    </div>
  </div>

  <div class="form-element">
    <div class="form-element-title">
      <label [for]="'montant_' + id">Montant</label>
    </div>
    <div class="form-element-content">
      <input
          type="number" step="0.01"
          [id]="'montant_' + id"
          [ngModel]="operation.montant"
          (focusout)="updateParameter(operation, 'montant', eventAsValue($event))"
          (keyup.enter)="updateParameter(operation, 'montant', eventAsValue($event))">
    </div>
  </div>

  <div class="form-element">
    <div class="form-element-title">
      <label [for]="'commentaire_' + id">Commentaire</label>
    </div>
    <div class="form-element-content">
      <input
          type="text"
          [id]="'commentaire_' + id"
          [ngModel]="operation.commentaire"
          (focusout)="updateParameter(operation, 'commentaire', eventAsValue($event))"
          (keyup.enter)="updateParameter(operation, 'commentaire', eventAsValue($event))">
    </div>
  </div>

  <div class="form-element">
    <div class="form-element-title">
      <label [for]="'remboursable_' + id">Remboursable</label>
    </div>
    <div class="form-element-content">
      <input
          type="checkbox"
          [id]="'remboursable_' + id"
          (change)="updateParameter(operation, 'remboursable', getNewRemboursable(operation.remboursable))"
          [checked]="operation.remboursable === '1'">
    </div>
  </div>

</div>
