<div>
  <ng-container *ngFor="let operation of operations; let i = index">
    <p>{{getDateString(operation.date)}} : {{operation.montant}} € ({{operation.commentaire}}) {{operation.remboursable === '1' ? 'remboursable' : ''}}
      <button (click)="updateEditMode(operation)">{{operation.edit !== true ? 'Modifier ↓' : 'Cacher ↑'}}</button>
    </p>
    <app-operation-edit
        [class.none]="operation.edit !== true"
        [operation]="operation"
        [id]="'operations_' + i"
        (update)="updateOnlineOperation($event)"
    ></app-operation-edit>
  </ng-container>
</div>
