th, td {
  white-space: nowrap;
}

th {
  padding-bottom: 1em;
}

tbody td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: #d6d6d6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  vertical-align: top;
}

.special-transform {
  transform: translateX(-50%);
}

.add {
  margin-right: 0.5em;
  padding: 3px 9px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  vertical-align: bottom;
}

.date-input {
  margin-right: 0.5em;
}

.amount-input {
  // margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline;

  input {
    width: 5em;
    text-align: right;
    margin-right: 0.2em;
  }
}

.comment-input {
  margin-right: 0.5em;
}

.refund-input {
  margin-left: 0.2em;
  margin-right: 0.5em;
  transform: scale(1.5);
}

.delete {
  padding: 3px;
  cursor: pointer;
  display: inline;
  margin-right: 0.5em;
}

.animation {
  --animation-color: #aaa;
  --animation-size: 18px;
  display: inline-block;
  position: relative;
  width: var(--animation-size);
  height: var(--animation-size);
  transform: translateY(3px);
}

.lds-ring {
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(var(--animation-size) * 0.8);
    height: calc(var(--animation-size) * 0.8);
    margin: calc(var(--animation-size) * 0.1);
    border: calc(var(--animation-size) * 0.1) solid var(--animation-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--animation-color) transparent transparent transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lines-container .line:first-child,
.lines-container .line:last-child {
  border: none;
}

.line {
  display: flex;
  border-color: #d6d6d6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
}

.line-element:nth-child(1) {
  width: 4em;
}

.line-element:nth-child(2) {
  width: 11em;
}

.line-element:nth-child(3) {
  width: 8em;
}

.line-element:nth-child(4) {
  width: 16em;
}

.line-element:nth-child(5) {
  width: 4em;
}

.line-element:nth-child(6) {
  width: 4em;
  margin-right: 0;
}

label {
  display: none;
}

@media (max-width: 991px) {
  .line {
    flex-direction: column;
  }

  .line:first-child {
    display: none;
  }

  .line-element {
    margin-right: 0;
    margin-bottom: 0.5em;
    width: auto !important;
  }

  .line-element:nth-child(1) {
    position: absolute;

    .delete {
      margin-left: 0;
      margin-right: 0.5em;
    }
  }

  .line-element:nth-child(6) {
    margin-left: auto;
    order: -1;
  }

  label {
    width: 8em;
    display: inline-block;
  }
}
