*, :after, :before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

table {
  border-spacing: 0;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

.form-container {
  .form-element {
    margin-bottom: 1em;
    display: flex;
    align-items: center;

    .form-element-title {
      margin-right: 0.6em;
    }
  }
}

.separator {
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 1px;
  margin-left: 2em;
  margin-right: 2em;
}

.scroll-tab {
  max-width: 100%;
  overflow-x: auto;
}

.swal-form-input {
  margin-top: 1em
}

.swal-form-input input[type="checkbox"] {
  height: auto;
  transform: scale(1.5);
}
